*{
  padding: 0;
  margin: 0;
  border: 0;
}

.main{
  background-color: aqua;
  width: 30%;
  height: 100%;
  border: 5px solid red;
  justify-content: center;
  text-align: center;
  /*word-wrap: break-word;*/
  word-break: inherit;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

img{
  width: 40%;
  margin-top: 10px;
}
/*span{
  color: blue;
}*/

.attribution{
  margin-top: 5px;
margin-bottom: 10px;
}